@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  padding-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #f0f0f0;
}

.phone-outline {
  width: 375px;
  height: 812px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.status-bar {
  width: 100%;
  height: 45px;
  background: black;
  color: white;
  font-size: 10px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 12px;
}

.status-icons {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.status-bar i {
  margin-left: 5px;
  color: white;
}

.profile-header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.profile-info .user-icon {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 10px;
}

.profile-info h1 {
  color: #c99f25;
  margin: 0;
  font-size: 30px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info h2 {
  color: #000;
  margin-bottom: 5px;
  font-size: 24px;
}

.profile-info .you-tag {
  color: #555;
  font-size: 18px;
}

.profile-info p {
  color: #666;
  font-size: 16px;
  margin-top: 5px;
}

.profile-nav {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  padding: 8px 0;
}

.profile-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.profile-nav-item {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

.profile-nav-item.active {
  font-weight: bold;
  position: relative;
  padding: 10px px;
}

.profile-nav-item.active::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-nav-item a,
.profile-nav-item a:visited,
.profile-nav-item a:hover,
.profile-nav-item a:active {
  color: inherit;
  text-decoration: none;
}

.content {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding-top: 10px;
  margin-top: 0;
  flex-grow: 1;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.post {
  text-align: center;
}

.content img {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}

.post-description {
  text-align: center;
}

.navigation-bar {
  height: 70px;
  min-height: 70px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

.navigation-bar > div,
.navigation-bar a.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.navigation-bar .fas {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  margin-bottom: 4px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.navigation-bar .nav-link a:visited {
  color: inherit;
}

.message-text {
  font-size: 15px;
}

.event-link {
  padding-right: 16px;
}

.message-link {
  padding-left: 3px;
}

.post {
  position: relative;
  width: 100%;
  max-width: calc(50vw - 40px);
  overflow: hidden;
  position: relative;
}

.post img {
  width: 100%;
  display: block;
  border-radius: 10px;
  object-fit: cover;
  height: 150px;
}

.post-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.location-info span,
.location-info a {
  display: block;
}

#current-time {
  color: white;
}

.friend-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.friends-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.friend-avatar {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  object-fit: cover;
}

.friend-details {
  display: flex;
  flex-direction: column;
}

.friend-details h3 {
  margin: 0;
  font-size: 20px;
}

.friend-details p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #666;
}

.friend-item:nth-child(odd) {
  background-color: #eaeaea;
}

.friend-item:nth-child(even) {
  background-color: #f9f9f9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  box-sizing: border-box;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 300px;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 3px;
  color: #aaa;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

#addPlaceForm input,
#addPlaceForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

#addPlaceForm button {
  width: 100%;
  padding: 10px;
  background-color: #c99f25;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
