* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #f0f0f0;
}

/* Simulate the iPhone outline */
.phone-outline {
  width: 375px;
  height: 812px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Top Status Bar */
.status-bar {
  width: 100%;
  height: 45px;
  background: black;
  color: white;
  font-size: 10px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 12px;
}

.status-icons {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.status-bar i {
  margin-left: 5px;
  color: white;
}

/* Profile Header */
.profile-header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.profile-info .user-icon {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 10px;
}

.profile-info h1 {
  color: #c99f25;
  margin: 0;
  font-size: 30px;
}

.user-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info h2 {
  color: #000;
  margin-bottom: 5px;
  font-size: 24px;
}

.profile-info .you-tag {
  color: #555;
  font-size: 18px;
}

.profile-info p {
  color: #666;
  font-size: 16px;
  margin-top: 5px;
}

/* Profile Navigation */
.profile-nav {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  padding: 8px 0;
}

.profile-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.profile-nav-item {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

.profile-nav-item.active {
  font-weight: bold;
  position: relative;
  padding: 10px px;
}

.profile-nav-item.active::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-nav-item a:hover,
.profile-nav-item a:visited,
.profile-nav-item a:active {
  color: inherit;
  text-decoration: none;
}

.profile-nav-item a,
.profile-nav-item a:visited,
.profile-nav-item a:hover,
.profile-nav-item a:active {
  color: inherit;
  text-decoration: none;
}

/* Content Area */
.content {
  flex-grow: 1;
  overflow: auto;
}

.post {
  text-align: center;
}

.post-description {
  text-align: center;
}

/* Bottom Navigation Bar */
.navigation-bar {
  height: 70px;
  min-height: 71px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

.navigation-bar div,
.navigation-bar a.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.navigation-bar .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-bottom: 4px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.post {
  position: relative;
  width: 100%;
  max-width: calc(50vw - 40px);
  overflow: hidden;
  position: relative;
}

.post-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.location-info span,
.location-info a {
  display: block;
}

#current-time {
  color: white;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 0;
  list-style: none;
}

.place-card {
  background-color: #fff;
  margin: 1px;
  margin-bottom: 20px;
  flex-basis: calc(
    50% - 20px
  );
  box-shadow: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.place-image {
  width: 80%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.place-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.place-info h3,
.place-info p {
  margin: 5px 0;
  font-size: 13px;
  line-height: 0.9;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  box-sizing: border-box;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 300px;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 3px;
  color: #aaa;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

/* Style the form elements inside the modal */
#addPlaceForm input,
#addPlaceForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

#addPlaceForm button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addPlaceForm button:hover {
  background-color: #45a049;
}

.friend-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.friends-list {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.friend-item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

/* Odd items background */
.friend-item:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Even items background */
.friend-item:nth-child(even) {
  background-color: #fff;
}

.activity-text {
  font-size: 11px;
  margin-left: -8px;
}
