body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background: #f0f0f0;
}

/* Simulate the iPhone outline */
.phone-outline {
  width: 375px;
  height: 812px;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Top Status Bar */
.status-bar {
  width: 100%;
  height: 45px;
  min-height: 45px;
  background: black;
  color: white;
  font-size: 10px;
  line-height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 12px;
}

.status-icons {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.status-bar i {
  margin-left: 5px;
  color: white;
}

/* App Header */
.app-header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.app-title {
  color: #c99f25;
  margin: 0;
  font-size: 30px;
}

/* Global Navigation */
.global-nav {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  padding: 8px 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.nav-item {
  padding: 10px 15px;
}

.nav-item.active {
  position: relative;
  padding: 10px px;
}

.nav-item.active::after {
  content: "";
  display: block;
  width: 15%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-bar:hover,
.navigation-bar:visited {
  text-decoration: none;
  color: inherit;
}

/* Main Content */
.content {
  flex-grow: 1;
  overflow: auto;
}

/* Placeholder for the map and other contents */
.placeholder {
  background: #eaeaea;
  height: 150px;
  margin: 15px;
  border-radius: 10px;
}

.placeholder-text {
  padding: 10px;
  text-align: center;
}

.icon {
  display: block;
  margin: auto;
  height: 20px;
  width: 20px;
  background: black;
}

.icon,
.user-icon {
  height: 24px;
  width: 24px;
}

.user-icon {
  position: absolute;
  top: 62px;
  right: 20px;
}

/* Bottom Navigation Bar */
.navigation-bar {
  height: 70px;
  min-height: 70px;
  background: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

.navigation-bar > div,
.navigation-bar a.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.navigation-bar .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-bottom: 4px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.navigation-bar img {
  margin-bottom: 4px;
}

.navigation-bar .nav-link a:visited {
  color: inherit;
}

.map-container {
  position: relative;
  width: calc(100% - 30px);
  height: 21vh;
  margin: 15px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #eaeaea;
  margin-bottom: 30px;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5px;
  padding: 0;
}

.place-card {
  background-color: #fff;
  margin: 1px;
  flex-basis: calc(50% - 15px);
  box-shadow: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-image {
  width: 60%;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.place-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.place-info {
  padding: 8px;
  text-align: center;
  width: 100%;
}

.place-info h3,
.place-info p {
  margin: 5px 0;
  font-size: 13px;
  line-height: 0.9;
}

.place-detail-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}

.place-detail-info {
  text-align: left;
  padding: 0 20px;
  margin-top: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
}

.place-detail-info p {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  margin-bottom: 10px;
}

.place-detail-info p strong {
  font-weight: bold;
}

#current-time {
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  box-sizing: border-box;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 300px;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 3px;
  color: #aaa;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

#addPlaceForm input,
#addPlaceForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

#addPlaceForm button {
  width: 100%;
  padding: 10px;
  background-color: #c99f25;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addPlaceForm button:hover {
  background-color: #c99f25;
}

.activity-text {
  font-size: 11px;
  margin-left: -8px;
}