<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urbaneer App Prototype</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>

<div class="phone-outline">
  
  <div class="status-bar">
    <span id="current-time"></span>
    <div class="status-icons">
      <i class="fas fa-signal"></i>
      <i class="fas fa-wifi"></i>
      <i class="fas fa-battery-three-quarters"></i>
    </div>
  </div>
  

  <header class="profile-header">
    <div class="profile-info">
      <h1>Urbaneer</h1>
      
      <div class="user-details">
        <span class="icon user-icon"><i class="fa fa-user"></i></span>
        <div>
          <h2>Katherine Doe <span class="you-tag">You</span></h2>
          <p>From Brooklyn, NY<br>Studies Computer Science<br>Enjoys Greek Restaurants, Gift Shops, and Cafes</p>
        </div>
      </div>
    </div>
    <nav class="profile-nav">
      <ul class="profile-nav-list">
        <li class="profile-nav-item">
          <a href="{{ url_for('friends') }}">Friends</a>
        </li>
        <li class="profile-nav-item active">
          <a href="{{ url_for('profile') }}">Likes</a>
        </li> 
        <li class="profile-nav-item">Saved</li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <ul id="places-list" class="places-container"></ul>
  </div>


  <div class="navigation-bar">
    <div>
      <a href="{{ url_for('home') }}" class="nav-link">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
    </div>
    <i class="fas fa-plus" id="addPlaceButton"></i>
    <div id="addPlaceModal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <form id="addPlaceForm">
          <input type="text" id="placeName" name="placeName" placeholder="Place Name" required>
          <textarea id="placeDescription" name="placeDescription" placeholder="Personal Description" required></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div>
      <a href="{{ url_for('profile') }}" class="nav-link">
        <i class="fas fa-user"></i>
        <span>Profile</span>
      </a>
    </div>
  </div>

</div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
